<h1>Dashboard</h1>
<% if @user.username.nil? || @user.zip.nil? %>
	<h3>Action Needed!</h3>
	<p>Please complete your profile setup</p>
	<%= render partial: "/shared/registration" %>
<% else %>
	<%= link_to "Log Out", logout_path, method: :post %>

	Hello <%= @user.username %>
<% end %>

