<h1>LEVEL</h1>
<p>mission goes here<p>

<center>
  <section class="login-form">
    <%= render partial: "/shared/login" %>
    <%= link_to 'New to Viewing Party? Register Here', register_path %>
  </section>
</center>
