/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 textarea { resize: none; }

 profile-img {
  border-radius: 50%;
}

.img-circular{
 width: 150px;
 height: 150px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-left: auto;
 margin-right: auto;
}

.small-circular{
 width: 110px;
 height: 110px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-left: auto;
 margin-right: auto;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
}

.scroll-2 {
  max-height: 364px;
  overflow-y: auto;
}

.scroll-3 {
  max-height: 800px;
  overflow-y: auto;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.textfield {
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

body {
 background-image: "background.jpeg";
 background-color: #4D585C;
}

.background {
 background-image: url('background.jpeg');
}
